<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ch.study.mapper.auto.ConfigInfoMapper">

    <!-- 查找用户信息 -->
    <select id="findAllConfig" resultType="com.ch.study.model.auto.ConfigInfo">
        select * from config_info
    </select>

</mapper>
